body{margin:0;padding:0}
.b,.e,.t{text-decoration:none}
.c{cursor:pointer}
.b{font-family:'Courier New';font-weight:bold}
.e{margin-left:1.3em;text-indent:-1.6em;border-left:1px solid;border-top:1px solid}